<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Builds kraken services docker images on commit to kraken services github repository</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>30</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.11.3">
      <projectUrl>https://github.com/Samsung-AG/kraken-services/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:Samsung-AG/kraken-services.git</url>
        <credentialsId>18d27b38-926f-4bd4-a298-5c98b5e970c1</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.11.3">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.0">
      <server plugin="docker-commons@1.0">
        <uri>unix:///run/docker.sock</uri>
      </server>
      <registry plugin="docker-commons@1.0">
        <url>https://quay.io/v1</url>
        <credentialsId>ec5b44ed-2a27-4ed8-a35a-e7b360b99b8a</credentialsId>
      </registry>
      <repoName>samsung_ag/trogdor-framework</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <dockerfilePath>loadtest/build/web_service</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>${BUILD_NUMBER}</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.0">
      <server plugin="docker-commons@1.0">
        <uri>unix:///run/docker.sock</uri>
      </server>
      <registry plugin="docker-commons@1.0">
        <url>https://quay.io/v1</url>
        <credentialsId>ec5b44ed-2a27-4ed8-a35a-e7b360b99b8a</credentialsId>
      </registry>
      <repoName>samsung_ag/trogdor-load-generator</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <dockerfilePath>loadtest/build/load_generator</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>${BUILD_NUMBER}</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.0">
      <server plugin="docker-commons@1.0">
        <uri>unix:///run/docker.sock</uri>
      </server>
      <registry plugin="docker-commons@1.0">
        <url>https://quay.io/v1</url>
        <credentialsId>ec5b44ed-2a27-4ed8-a35a-e7b360b99b8a</credentialsId>
      </registry>
      <repoName>samsung_ag/influxdb</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <dockerfilePath>influxdb-grafana/build/influxdb</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>${BUILD_NUMBER}</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.0">
      <server plugin="docker-commons@1.0">
        <uri>unix:///run/docker.sock</uri>
      </server>
      <registry plugin="docker-commons@1.0">
        <url>https://quay.io/v1</url>
        <credentialsId>ec5b44ed-2a27-4ed8-a35a-e7b360b99b8a</credentialsId>
      </registry>
      <repoName>samsung_ag/grafana</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <dockerfilePath>influxdb-grafana/build/grafana</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>${BUILD_NUMBER}</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
    </com.cloudbees.dockerpublish.DockerBuilder>
    <com.cloudbees.dockerpublish.DockerBuilder plugin="docker-build-publish@1.0">
      <server plugin="docker-commons@1.0">
        <uri>unix:///run/docker.sock</uri>
      </server>
      <registry plugin="docker-commons@1.0">
        <url>https://quay.io/v1</url>
        <credentialsId>ec5b44ed-2a27-4ed8-a35a-e7b360b99b8a</credentialsId>
      </registry>
      <repoName>samsung_ag/podpincher</repoName>
      <noCache>false</noCache>
      <forcePull>true</forcePull>
      <dockerfilePath>podpincher/build</dockerfilePath>
      <skipBuild>false</skipBuild>
      <skipDecorate>false</skipDecorate>
      <repoTag>${BUILD_NUMBER}</repoTag>
      <skipPush>false</skipPush>
      <createFingerprint>true</createFingerprint>
      <skipTagLatest>false</skipTagLatest>
    </com.cloudbees.dockerpublish.DockerBuilder>
  </builders>
  <publishers>
    <jenkins.plugins.hipchat.HipChatNotifier plugin="hipchat@0.1.9">
      <token></token>
      <room>Pipeline</room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <startJobMessage>Job $URL started: $CHANGES_OR_CAUSE</startJobMessage>
      <completeJobMessage>Job $URL finished with $STATUS after $DURATION !</completeJobMessage>
    </jenkins.plugins.hipchat.HipChatNotifier>
  </publishers>
  <buildWrappers/>
</project>