---
- project:
    ci_admin_list:
    {% for admin in job_builder.ci_admin_list %}
      - {{admin}}
    {%endfor -%}
    slack_api_token: "{{job_builder.slack_api_token}}"
    slack_room: "{{job_builder.slack_room}}"
    slack_domain: "{{job_builder.slack_domain}}"
    ci_hostname: "{{job_builder.ci_hostname}}"
    test_bucket: "{{job_builder.test_bucket}}"
    name: kraken
    jobs:
      !include: jobs/job-list.yaml.inc