[job_builder]
ignore_cache=True
keep_descriptions=False
recursive=False
allow_duplicates=False

[jenkins]
user={{ github_username }}
password={{ github_token }}
url=http://127.0.0.1:8080
query_plugins_info=True
